TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ALERTS_ENABLED=true
REQUIRE_PREDICTION_MARKET=true
SIGNAL_COOLDOWN_MS=180000
PRICE_MOVE_5M=0.001
OI_MOVE_5M=0.01
FUNDING_LONG=0.00005
FUNDING_SHORT=-0.00005
MIN_VOLUME_MULTIPLIER=1.2
HISTORY_BUCKETS=12
MIN_BASELINE_BUCKETS=1
SIGNAL_SCORE=2
